@{
    Layout = null;
    ViewBag.Title = "Teacher Profile";
}
<form action="/Student/Student" method="post">
    @Html.AntiForgeryToken()
    <div class="text-center">
     <button type="submit" class="btn btn-green">Student</button>
    </div>
</form>
