
@{
    ViewBag.Title = "UserLogIn";
}

<h2>UserLogIn</h2>
<form action="/User/UserLogIn" method="post">
    <input type="text" id="Email" name="Email" placeholder="Username" class="form-control" />
    <input type="password" id="Password" name="Password" placeholder="Password" class="form-control" />
    <input type="submit" class="btn btn-success" />
</form>
